<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 
	 <head>
	 	<meta charset="utf-8" />
	 </head>
 
	 <body>
		<h2>顧客ログイン画面</h2>
		
		<!-- エラーメッセージ表示 -->
		<div th:if="${error}" style="color: red;">
		    <p th:text="${error}"></p>
		</div>

		
		
		<form method="post" th:action="@{/login}" th:object="${su}">
			<div>携帯電話番号またはEメールアドレスを入力</div>
			<p>アカウント<br><input type="text" th:field="*{phone_number}"></p>
			<p>パスワード<br><input type="password" th:field="*{password}"></p>
			<input type="submit" value="ログイン">
		</form>
		
		<form action="#" method="get" th:action="@{/signIn}">
			<input type="submit" value="新規登録">
		</form>
	
	 </body>

  </html>