<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品詳細</title>
	<link rel="stylesheet" th:href="@{/shop.css}">
</head>
<body>
    <h1 th:text="${item.name}">商品名</h1>

	<img th:src="@{/images/{img}(img=${item.image})}" th:alt="${item.name}" width="200">

    <p>価格: <span th:text="${item.price}"></span>円</p>
    <p>在庫数: <span th:text="${item.stock}"></span></p>

    <form th:action="@{/cart/add}" method="post">
        <input type="hidden" name="itemId" th:value="${item.id}" />

        <label>
            数量:
            <input type="number" name="quantity" min="1" max="10" required />
        </label>
        <br>
        <button type="submit">カートに入れる</button>
		<br></br>
		<td>---------------------------------------------------------------------------------</td>    
		<br></br>
		<td>
		    商品詳細紹介：<br>
		    ■合計5点セット
		    毎年ランキング1位を獲得するDitaの浴衣は、SNSでも話題の人気商品。
		    ここでしか買えない大人かわいい浴衣で、素敵な夏の思い出を..♪
		    届いてすぐに1人で着られる、フルセットになります。
		    ※下駄の刺繍はご指定頂けません。
		    </br><br>
		    《 和歌山染工株式会社での国内染め 》
		    伝統ある技法で職人が染め上げ、風合いのある仕上がりを演出。
		    海外生産では出せない国内染めならではの染め上がりです。
		    生地は”滝流れ織り”を採用。しっかりした生地感と、通気性が抜群です。
		    </br><br>
		    《 書き下ろしのオリジナルデザイン 》
		    京都の老舗デザイナーと何度も打ち合わせをし、
		    一年越しに完成した完全手書きの当店別注柄。
		    ここでしか手に入らない少量生産なので、人と被りません。
		    ”大人かわいい”をイメージした上品な仕上がりに。
		    </br><br>
		    ●サイズ
		    ・適応身長150～172cm(S.M　２つサイズが用意した。)
		    ・着付けの際おはしょりで着丈を調整可能の為、身長がさらに小さめな方や大きめの方でもご着用いただけます。
		    </br><br>
		    ●ご確認下さい
		    ・商品のお色は、照明の関係で実物と多少の違いが生じることがございます。なお、著しい色の相違は御座いません。
		    ・生地の取り方により、柄の位置等写真と異なる場合がございます。ご了承ください。
		    ・下駄のお色味は多数ご用意しております。当店でスタイリストがセレクトしてお届けしますので、楽しみにお待ち下さい。
		    ・洗う場合は、必ず水で手洗いでお願いします。色落ちしますので、ぬるま湯や熱湯は絶対に使用しないでください。不安な場合はクリーニングをお勧め致します。
		    </br>
		</td>

    </form>

    <p><a href="/items">＜ 商品一覧に戻る</a></p>
</body>
</html>
