<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品一覧</title>
    <link rel="stylesheet" th:href="@{/shop.css}">
	<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<h1 style="text-align: center;">商品一覧</h1>

<div class="product-grid">
    <div class="product-card" th:each="item : ${itemList}">
        <img th:src="@{/images/{img}(img=${item.image})}" th:alt="${item.name}" class="product-image">
        <div class="product-info">
            <p th:text="${item.name}">商品名</p>
            <p>価格: <span th:text="${item.price}"></span>円</p>
            <p>在庫: <span th:text="${item.stock}"></span></p>
            <p>サイズ: <span th:text="${item.sizes}"></span></p>
            <a th:href="@{/items/{id}(id=${item.id})}" class="detail-button">詳細ページ</a>
        </div>
    </div>
</div>

<header>
	<div class="mp_header">
		<div class="sidebar_btn">三</div>
		<div class="header_title">ZOOTOWN</div>
		<div class="linkBox">
			<a th:href="@{/login}" class="logout-link">マイページ</a>
		</div>
		<div class="linkBox2">
			<a th:href="@{/cart}" class="logout-link">カート</a>
		</div>
	</div>
</header>

  <div class="overlay" id="overlay" onclick="toggleSidebar()"></div>
  <div id="top"></div>
  	<script th:if="${isAdmin}" th:inline="javascript">
  		    window.isAdmin = true;
  	</script>
  
  <footer>
  	<div>@TEAM2,Inc.</div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="script.js" th:src="@{/script.js}"></script>

</body>
</html>
