<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 
	 <head>
	 	<meta charset="utf-8" />
		<link rel="stylesheet" th:href="@{/login.css}">
	 </head>
 
	 <body>
		
		<header>
			<a href="">TEAM2SITE</a>
		</header>
				
		<h2>新規会員登録</h2>
		
		
		
		<form method="post" th:action="@{/confirm}" th:object="${su}">
			<p>ニックネーム<br><input type="text" th:field="*{nickName}"></p>
			<div th:if="${#fields.hasErrors('nickName')}"  th:errors="*{nickName}">エラー</div>
			<p>パスワード<br><input type="password" th:field="*{password}"></p>
			<div th:if="${#fields.hasErrors('password')}"  th:errors="*{password}">エラー</div>
			<p>もう一度パスワードを入力してください<br><input type="password" name="confirmPassword"></p>
			<p>管理者権限<br><input type="checkbox" th:field="*{adminFlag}"></p>
			<div th:if="${#fields.hasErrors('adminFlag')}"  th:errors="*{adminFlag}">エラー</div>
			<p>メールアドレス<br><input type="text" th:field="*{email}"></p>
			<div th:if="${#fields.hasErrors('email')}"  th:errors="*{email}">エラー</div>
			<p>携帯電話番号<br><input type="text" th:field="*{phone_number}"></p>
			<div th:if="${#fields.hasErrors('phone_number')}"  th:errors="*{phone_number}">エラー</div>
		
			<input type="submit" value="確認画面">
		</form>

		<form action="#" method="get" th:action="@{/index}">
			<input type="submit" value="戻る">
		</form>
	
	 </body>

  </html>